<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CustomPropertySettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CustomPropertySettings.Properties.CustomPath" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CustomPropertySettings.Properties.Settings>
            <setting name="ConfigPath" serializeAs="String">
                <value>.\Config.xml</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>Hello</value>
            </setting>
            <setting name="Age" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Address" serializeAs="String">
                <value>No. 1245, Street Test.</value>
            </setting>
        </CustomPropertySettings.Properties.Settings>
        <CustomPropertySettings.Properties.CustomPath>
            <setting name="initialized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Age" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Tall" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="StartDate" serializeAs="String">
                <value>1900-01-01</value>
            </setting>
        </CustomPropertySettings.Properties.CustomPath>
    </userSettings>
</configuration>